@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This page contains links to a plethora of Oatts related stuff.</p>
<br/>
<h4>Socials</h4>
<div>
    <a class="btn btn-default" href="https://discord.gg/ZWZGy45">Join my Discord Server</a>
    <a class="btn btn-default" href="https://www.twitter.com/Oatts23">Follow me on Twitter</a>
    <a class="btn btn-default" href="https://www.youtube.com/channel/UCz_ROXXd0KqZzzuMxbOtMHQ">Subscribe to my Youtube Channel</a>
    <a class="btn btn-default" href="https://www.twitch.tv/oatts23">Follow me on Twitch</a>
    <a class="btn btn-default" href="http://steamcommunity.com/profiles/76561198075130057/">Add me on Steam</a>
</div>
<br/>
<div>
    <h4>Speedrunning</h4>
    <p>I intend to do more speedrunning. Here are some links to pages that are used.</p>
    <a class="btn btn-default" href="https://www.speedrun.com/user/oatts23">Speedrun Account</a>
    <a class="btn btn-default" href="http://www.haloruns.com/profiles?user=Oatts23">Haloruns Account</a>
</div>