@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Welcome to Oatts' Official Website</h1>
    <p>Not much has been created at the present moment, however, the <a asp-page="/About">about page</a> has had some development.</p>
    <h3>How I am making this site? What features are to come?</h3>
    <p>For anyone who is curious and knows a bit about software & web development, this website is being created in ASP.Net Core 2.</p>
    <p>Improved styling and additional content including possible interaction between my site and my twitch page is yet to come. Stay tuned. :)</p>
</div>
